<!--========== Brand Area Starts========== -->
<div class="service-area  service-area-2 service-bg pt-30 pb-30">
  <div class="section-title text-center pb-30">
    <h3>as featured by</h3>
  </div>  
  <div class="container">
    <div class="brand-active">
      <div class="single-brand">
        <div class="brand-img pl-35">
          <a href="https://www.forbes.com/profile/jean-fan/?list=30under30-healthcare&sh=3b888631730e" target="_blank">
	    <img src="/assets/img/brand/forbes.png"/>
	  </a>
        </div>
      </div>
      <div class="single-brand">
        <div class="brand-img">
	  <a href="https://www.nature.com/articles/d41586-019-03153-8" target="_blank">
            <img src="/assets/img/brand/natureresearchawards.png"/>
	    </a>
        </div>
      </div>
      <div class="single-brand">
        <div class="brand-img pl-30">
	  <a href="https://www.youtube.com/watch?v=MYbfY0Tzc-c" target="_blank">
            <img src="/assets/img/brand/tedx.png"/>
	  </a>
        </div>
      </div>
      <div class="single-brand">
        <div class="brand-img pl-30">
	  <a href="https://www.bme.jhu.edu/news-events/news/meet-jean-fan-assistant-professor-of-biomedical-engineering/" target="_blank">
            <img src="/assets/img/brand/jhubme.png"/>
	  </a>
        </div>
      </div>
      <div class="single-brand">
        <div class="brand-img pl-40">
	  <a href="https://hms.harvard.edu/news/seeding-field" target="_blank">
            <img src="/assets/img/brand/hms.png"/>
	  </a>
        </div>
      </div>
      <div class="single-brand">
        <div class="brand-img pl-40" >
	  <a href="http://www.scientistafoundation.com/scientista-spotlights/seeing-is-believing-custemized-dreams-create-real-heroes" target="_blank">
            <img src="/assets/img/brand/scientista.png"/>
	  </a>
        </div>
      </div>
      <div class="single-brand">
        <div class="brand-img pr-60">
	  <a href="https://gsas.harvard.edu/news/stories/envisioning-place-science" target="_blank">
            <img src="/assets/img/brand/harvardgsas.png"/>
	  </a>
        </div>
      </div>
      <div class="single-brand">
        <div class="brand-img">
	  <a href="https://hub.jhu.edu/magazine/2016/summer/alumni-jean-fan/" target="_blank">
            <img src="/assets/img/brand/jhumagazine.png"/>
	  </a>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!--========== Brand Area Ends========== -->
